.tiles-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.tile h3 {
  margin: 0 0 0.5rem 0;
}

.tile a {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

button {
  margin-top: 1rem;
  background: #000000;
  color: #000;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
}
